@charset "UTF-8";
/* フォント */
.kaisei-opti-regular {
    font-family: "Kaisei Opti", serif;
    font-weight: 400;
    font-style: normal;
  }
/* フォント（English） */
.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* 共通部分 */
html{
    font-size: 100%;
}
body{
    font-family:"Hiragino Kaku Gothic ProN","hiragino Sans","BIZ UDPGothic",sans-serif;
    line-height:1.7;
    color:#432;
}
a{
    text-decoration: none;
    }
img{
    max-width: 100%;
}

/* レイアウト */
.align-center{
    text-align: center;
}
/* 見出し */
.font-english{
    font-family: "Philosopher",sans-serif;
    font-weight: normal;      
}

.page-title{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
    line-height: 1.4;
}

/* ヘッダー */
.page-header{
    padding-top: .5rem;
}
.logo{
    width: 210px;
    height: auto;
}
.main-nav{
    display: flex;
    justify-content: center;
    gap:2.5rem;
    font-size: 1.5rem;
    list-style: none;
}
.main-nav a{
    color: #432;
}
.main-nav a:hover{
    color: #c82137;
}

body{
    background-color: #fff8cf;
}

.about{
    max-width: 736px;
    padding: bottom;
    display: block;
    margin: 0 auto;
}


.post-thumbnail{
    border-radius: 16px;
    margin-bottom: 1.5rem;
    display: block;
    margin: 0 auto;
}

.heading-large{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}


.item {
    display: flex;
    margin: 3rem auto 0;
    box-sizing: border-box;
    padding: 0 1.5rem;
  }
  
  .item-image {
    width: 200px;        /* 画像エリアの幅 */
    margin-right: 20px;
    flex-shrink: 0;      /* 画像が潰れないように */
  }
  

  .item-image img {
    width: 100%;
    height: auto;
    display: block;
    border: 1px solid #ccc;
  }
  
  
  .song-title {
    font-size: 19px;
    margin: 0 0 10px;
    color: #432;
  }
  
  .description {
    font-size: 15.5px;
    line-height: 1.8;
    margin: 1rem auto 0;
    color: #432;
  }
  